.click-action:hover {
    cursor: pointer;
}

.student-pill {
    background-color: white !important;
    margin: 5px;
}

.student-pill > p {
    color: gray !important;
    padding: 5px;
    margin: 0px;
}

.student-selected {
    background-color: indigo !important;
}

.student-selected > p {
    color: white !important;
}

.form-check-label {
    margin-left: 8px !important;
}